.confirmedBookingBG {
    width: 100vw;
    height: 600px;
    background-color: #fbdabb;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 400;
}