footer {
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-wrap: wrap;
  gap: 1rem;
  background-color: #333333;
  color: white;
  padding: 2rem;
}

footer div {
  margin: 1rem;
}

footer div h3 {
  font-size: 1rem;
}

footer a {
  font-size: 0.6rem;
}
