nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  width: 80vw;
  min-width: 600px;
  max-width: 800px;
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
